In [2]:
# import pandas
import pandas as pd

In [3]:
# サンプル名、所有者、DNA濃度、モル濃度が書かれたExcelファイルをインポート
import_file = 'dilution.xlsx'

In [4]:
sheet1 = 'Sheet1'

In [5]:
df_dil = pd.read_excel(import_file, sheet_name = sheet1)

In [6]:
df_dil.head()

  sample  owner  concentration  molarity
0    M77  Maiko           4694      17.0
1    M78  Maiko           4138      16.5
2    M79  Maiko           3896       NaN
3    M80  Maiko           4241       NaN
4    M81  Maiko           4458       NaN

In [11]:
#モル濃度があるやつだけを抽出
std = df_dil[df_dil['molarity']>0]
std.head()

   sample  owner  concentration  molarity
0     M77  Maiko           4694      17.0
1     M78  Maiko           4138      16.5
5     M82  Maiko          12753      43.2
9     M86  Maiko          11715      33.8
13   M110  Maiko           8355      22.8

In [14]:
#stdから傾きと切片等を求めるために後ろ2行の数を抽出
conc = std.ix[:,2].values
mol = std.ix[:,3].values

In [16]:
#傾き、切片、相関係数取得
import scipy as sp
from scipy import stats
slope, intercept, r_value, p_value, std_err = sp.stats.linregress(conc, mol)
print(slope, intercept, r_value)

0.00153424550878 11.610802709 0.91269548305

In [21]:

if df_dil['molarity']=NaN {
    df_dil['concentration']*slope+intercept
    else
    df_dil['molarity']
}
#df_dil['concentration']*slope+intercept

0      18.812551
1      17.959511
2      17.588223
3      18.117538
4      18.450469
5      31.177036
6      18.226469
7      28.878736
8      18.295510
9      29.584489
10     19.360277
11     18.056168
12     18.363017
13     24.429424
14     26.962463
15     27.014628
16     28.668544
17     22.720274
18     26.098683
19     25.006300
20     21.653974
21     25.273259
22     24.150191
23     22.898247
24     26.434683
25     26.924107
26     25.397533
27     22.480932
28     24.079616
29     26.376381
         ...
60     31.942624
61     31.511501
62     24.016712
63     20.659783
64     19.255948
65     19.888057
66     34.579992
67     24.087287
68     21.970028
69     20.084441
70     21.804330
71     26.098683
72     28.602572
73     23.677644
74     19.114797
75     25.949861
76     24.024383
77     25.414410
78     23.708329
79     31.107995
80     74.514869
81    103.358684
82     73.594321
83     95.687457
84     99.369646
85     84.334040
86    107.654572
87    107.961421
88     15.638197
89     24.417150
Name: concentration, Length: 90, dtype: float64